@model tt_medley.Models.mpc_us_engajamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mpc_us_engajamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C__createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C__createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C__updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C__updatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C__version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C__version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C__deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C__deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.audiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.audiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respostas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respostas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indice_calculado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indice_calculado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
