@model IEnumerable<tt_medley.Models.mpc_us_engajamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.C__createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C__updatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C__version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C__deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.audiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.respostas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indice_calculado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C__createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C__updatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C__version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C__deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.audiencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.respostas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indice_calculado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
